In [1]:
# Operators
'''
==>> its a symbols 
==>> which can do some kind of operation on data ( operands )
'''
# Operators classifies based on two ways 
'''
##### Based on operands 
============>>>No of operands with in the operation
1. Unary Operator
 ============>>> Single operator operating on single operand
 ======================>>> unary Plus              +
 ======================>>> unary minus             -
 ======================>>> Logical not            not
 ======================>>> Bitwise Not             ~
2. Binary Operator


##### Based On operations
'''
# Unary Operator
print   + 34  # unary plus
print   - 45  # unary minus
print   not 56 # logical not
print   ~ 45 # bitwise not

34
-45
False
-46

In [3]:
#Binary Operator
print 12 + 45
print 56 - 23
print 4  *  7
print 125.0 / 78

57
33
28
1.60256410256

In [4]:
# Based Operations
'''
====>>> Arithmetic Operators
====>>> Relational Operators
====>>> Special Operator
====>>> Assignment operator
====>>> Logical Operaor
====>>> Bitwise Operators
'''
# Arithmetic Operator
'''
===>>  addition         +
===>>  subtraction      -
===>>  Multiplication   *
===>>  devision         /
===>>  Modulus          %
===>>  Floor Devision   //
===>>  Exponant         **
'''
a = 147
b = 4
print a+b
print a - b
print a*b
print a%b
print a // b
print a / b
print a ** b
print a * a * a* a

151
143
588
3
36
36
466948881
466948881

In [5]:
a = 147.0
b = 4
print a+b
print a - b
print a*b
print a%b
print a // b
print a / b
print a ** b
print a * a * a* a

151.0
143.0
588.0
3.0
36.0
36.75
466948881.0
466948881.0

In [6]:
# Relational Operator
'''
1. Lessthan             <
2. greaterthan          >
3. equal too            ==
4. not equal to         !=
5. lessthan or equal    <=
6. greaterthan or equal  >=
'''
print  10 < 20
print  20 > 10
print  10 == 10
print  10 != 30
print  10 <= 10
print  10 <= 20
print  20 >= 20
print  20 >= 10

True
True
True
True
True
True
True
True

In [7]:
# wap find the given nummber is even or not
num = input("enter num : ")
print num," is even ", (num % 2  == 0)

enter num : 45
45  is even  False

In [8]:
# wap find the given nummber is even or not
num = input("enter num : ")
print num," is even ", (num % 2  == 0)

enter num : 78
78  is even  True

In [ ]:
# wap find the area of triangle
# wap finf the perimter of triangle
# wap find the area of ssquare & perimeter
# wap find the area & perimter rectangle

In [1]:
#Assignment Operator
a = 100 # constant to variable
b = a   # variable to variable
c = a+b*2 # expression to variable
print a
print b
print c

100
100
300

In [2]:
# compound assignment 
a = 10
b = 20
print a
print b
a = a + b # addition  then update
print a
print b

10
20
30
20

In [3]:
# compound assignment 
a = 10
b = 20
print a
print b
a += b         #a = a + b # addition  then update
print a
print b

10
20
30
20

In [4]:
# compound assignment 
a = 10
b = 20
print a
print b
a -= b         #a = a - b # subtractio  then update
print a
print b

10
20
-10
20

In [5]:
# compound assignment 
a = 10
b = 20
print a
print b
a *= b         #a = a * b # multiplication  then update
print a
print b

10
20
200
20

In [7]:
# compound assignment 
a = 106
b = 20
print a
print b
a /= b         #a = a / b #division  then update
print a
print b

106
20
5
20

In [8]:
# compound assignment 
a = 106
b = 20
print a
print b
a %= b         #a = a % b #division  then update
print a
print b

106
20
6
20

In [9]:
# special operators
'''
===>> Membership Operator
=======>> It can check the one data element is the member of with in group of elements
1.  in
   ===>> True ----> available 
   ===>> False ---> not available
2. not in
   ===>> True ---->  not available 
   ===>> False ---> available


===>> Identity Operator

=====>> it checking both elements are same  memory loc or not

1. is
  
   True ---->> same 
   False----> differnt 
   
2. is not
  
   True ---->> Different
   False---->  same
   

'''
a = [3,6,0,4,67]
b = 56
c = 4
print c in a
print b in a

True
False

In [10]:
a = [3,6,0,4,67]
b = 56
c = 4
print c not in a
print b not in a

False
True

In [11]:
a = [1,2,3]
b = [1,2,3]
print id(a)
print id(b)
print a is b # False

a = 100
b = 100
print id(a) #####  -5  to 256 ---->>  
print id(b)
print a is b # True

75172168
75209416
False
47942496
47942496
True

In [12]:
a = -5
b = -5
print id(a)
print id(b)

47941032
47941032

In [13]:
a = -6
b = -6
print id(a)
print id(b)

75024928
75025000

In [14]:
a = 256
b = 256
print id(a)
print id(b)

47946720
47946720

In [15]:
a = 257
b = 257
print id(a)
print id(b)

75033592
75024832

In [16]:
a = 145
b = 145
print id(a)
print id(b)

47943408
47943408

In [17]:
a = [1,2,3]
b = [1,2,3]
print id(a)
print id(b)
print a is not b # True

a = 100
b = 100
print id(a) #####  -5  to 256 ---->>  
print id(b)
print a is not b # False

81156232
53699080
True
47942496
47942496
False

In [29]:
a = 10.05455
b = 34
print "a : ",a
print "a : %d"%a
print "a : %f"%a
print "a : %.3f"%a
print " a : {1} and  {0}".format(b,a)

a :  10.05455
a : 10
a : 10.054550
a : 10.055
 a : 10.05455 and  34

In [ ]:
# Logical operators
'''
==>> Based On logic
==>> There are 3logical Operators
1. Logical AND --->>   and

=====>>>
in1    in2   --->  and 
False  False --->  False
False  True  --->  False
True   False --->  False
True   True  --->  True




2. Logical OR ---->>   or
3. Logical NOT---->>   not
'''

In [1]:
print False and True
print False and False
print True and False
print True and True

False
False
False
True

In [2]:
'''
-->  int 
0 ---> False
+ve/-ve --> True

--->>>> Float 
0.0 --->  False
+ve/-ve --> True

---->> complex
0j---> False
0+0j--> False
x+yj -->(any one X,y non Zeros )  --> True

--->>> None  ---> Fasle
---->>> str, list, tuple, set, dict --> len is 0 --> False
'''

# Logical AND 
'''
input1 is False then output is input 1
input1 is True then output is  input 2
'''
print  34 and 45.56
print  0.00001 and 34
print  0.0  and 89
print 45  and 0.0
print []  and 56

45.56
34
0.0
0.0
[]

In [3]:
# 2. Logical OR ---->>   or
'''
input1 is False then output is input 2
input1 is True then output is  input 1
'''
print  34 or 45.56
print  0.00001 or 34
print  0.0  or  89
print 45  or 0.0
print []  or 56

34
1e-05
89
45
56

In [4]:
# Logical NOT 
print not 34
print not 0.0

False
True

In [ ]:
#### what is number system
#### convert decimal number system to binary system
'''
45 ---->> binary ?
69 ---->> binary ?
'''
###  convert binary system to decimal number system
'''
0b10111011 --->> decimal number ?

'''

In [2]:
# bitwise Operator 
'''
===>> input decimal ---->  Binary input
===>> We should the bitwise operation
===>> Binary result ---->  Decimal result
'''
# bitwise AND   &
print  24 & 12

8

In [3]:
# bitwise OR   |
print  24 | 12

28

In [4]:
# bitwise XOR   ^
print  24 ^ 12

20

In [6]:
# bitwise Leftshift   num  << no_bits
print 24  << 3
print 67 << 2

192
268

In [7]:
#bitwise rightshift    num  >> no_bit
print 67 >> 3

8

In [9]:
#bitwise Not   ~num ===>>   - (num + 1)
print ~ 56  #   - (56 +1) ===>>  -57
print ~ -78 #   - (-78 +1)===>> -(-77)==>> 77

-57
77